<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT" immediateFlush="true">
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1} : %msg%n%ex" />-->
            <PatternLayout pattern="%msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="za.co.mkhungo.dsa" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="za.co.mkhungo.dsa.queue" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="LogToConsole"/>
        </Root>
        <Logger name="za.co.mkhungo.dsa.queue.QueueCircular" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="za.co.mkhungo.dsa.queue.QueueLinear" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
    </Loggers>
</Configuration>